body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #444444;
}

main {
  margin: 0 auto;
  touch-action: none;
}

.matrix {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(16, minmax(auto, 16%));
  touch-action: none;
}

.pixel {
  background-color: #222;
  aspect-ratio: 1/ 1;
  /* min-width: calc(calc(100vw / 16) - 1.1vw); */
  width: calc(calc(100vh / 16) - 0.1vh);
  max-width: 6.1vw;
}

.pixel:hover {
  box-shadow: inset 0px 0px 0px 3px #d4d4d4;
}
.pixel:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 3px #c3bbbb;
}

.controls {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}